<template>
  <div :class="$style.A">
    scoped A
    <slot />
  </div>
</template>

<style module>
.A {
  padding: 40px;
  border: 3px solid salmon;
  color: yellowgreen;
  font-size: 20px;
}

.B {
  padding: 40px;
  border: 3px solid rgb(250, 241, 114);
  color: rgb(50, 205, 179);
  font-size: 20px;
}
.C {
  padding: 40px;
  border: 3px solid rgb(209, 250, 114);
  color: rgb(50, 117, 205);
  font-size: 20px;
}
</style>