<template>
  <form>
    <fieldset>
      <legend class="sr-only">input form</legend>
      <slot></slot>
    </fieldset>
  </form>
</template>

<style module>
form > fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}
</style>