<template>
  <FormComponent>
    <section style="position: relative;">
      <input-default type="email" @inputEvent="handleInput"></input-default>
      <input-default type="password" @inputEvent="handleInput"></input-default>
      <span :class="$style.check_input" v-show="isError">이메일과 비밀번호를 확인해주세요</span>
    </section>
    <buttons-wrapper>
      <button-default content="SUBMIT" @clickEvent="onSubmit"></button-default>
    </buttons-wrapper>
  </FormComponent>
</template>

<script>
import InputDefault from '@/common/input/InputDefault.vue';
import FormComponent from './FormComponent.vue';
import { checkAllInput } from '@/common/common';
import ButtonsWrapper from '@/common/button/ButtonsWrapper.vue';
import ButtonDefault from '@/common/button/ButtonDefault.vue';

export default {
  data() {
    return {
      value: {
        email: '',
        password: ''
      },
      isFull: false,
      isError: false
    }
  },
  watch:{
    value:{
      handler: function() {
        this.isFull = checkAllInput(this.value);
      },
      deep: true
    }
  },
  methods: {
    handleInput({type, value}) {
      this.value[type] = value;
    },
    onSubmit() {
      if(localStorage.getItem(this.value.email) && JSON.parse(localStorage.getItem(this.value.email)).password === this.value.password) {
        alert('로그인 성공!');
        localStorage.setItem('hasLog', this.value.email)
        this.$router.push('/');
      }
      else {
        this.isError = true;
      }
    }
  },

  components: {
    InputDefault,
    FormComponent,
    ButtonsWrapper,
    ButtonDefault,
  }
}
</script>

<style module>
.check_input {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: red;
}

section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
</style>