<template>
  <FormComponent>
    <section>
      <input-default type="email" @inputEvent="handleInput"></input-default>
      <div style="position: relative;">
        <input-default type="password" @inputEvent="handleInput"></input-default>
        <span :class="$style.check_input" v-show="!isValid">비밀번호가 일치하지 않습니다.</span>
      </div>
      <div style="position: relative;">
        <input-default type="checkPassword" @inputEvent="handleInput"></input-default>
        <span :class="$style.check_input" v-show="!isValid">비밀번호가 일치하지 않습니다.</span>
      </div>
      <input-default type="name" @inputEvent="handleInput"></input-default>
    </section>
    <buttons-wrapper>
      <button-default content="SUBMIT" @clickEvent="onSubmit"></button-default>
    </buttons-wrapper>
  </FormComponent>
</template>

<script>
import axios from 'axios';
import InputDefault from '@/common/input/InputDefault.vue';
import FormComponent from './FormComponent.vue';
import { checkAllInput } from '@/common/common';
import ButtonDefault from '@/common/button/ButtonDefault.vue';
import ButtonsWrapper from '@/common/button/ButtonsWrapper.vue';

export default {
  data() {
    return {
      value: {
        email: '',
        password: '',
        checkPassword: '',
        name: '',
      },
      isValid: true,
    }
  },
  watch:{
    value:{
      handler: function() {
        this.isFull = checkAllInput(this.value);
        this.checkValidation();
      },
      deep: true
    }
  },
  methods: {
    handleInput({type, value}) {
      this.value[type] = value;
    },
    lsAlreadyExist() {
      // email 중복 확인
      localStorage.getItem(this.value.email) || console.log('가능한 이메일 입니다.');
    },
    checkValidation() {
      if(!this.value.password || !this.value.checkPassword) return;
      this.isValid = this.value.checkPassword === this.value.password;
    },
    onSubmit() {
      if(this.isFull) {
        axios.post('https://jsonplaceholder.typicode.com/users', this.value)
        .then(() => {
          localStorage.setItem(this.value.email, JSON.stringify(this.value));
          alert('회원가입 성공!');
          this.$router.push('/signin');
        })
        .catch(err => {
          console.log(err);
        })
      }
    }
  },

  components: {
    InputDefault,
    FormComponent,
    ButtonDefault,
    ButtonsWrapper
  }
}
</script>

<style module>
.check_input {
  position: absolute;
  bottom: -20px;
  left: 50%;
  font-size: 12px;
  color: red;
}

section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
</style>