<template>
  <div :class="$style.input_wrapper">
    <label :for="type">{{ this.type }}</label>
    <input :type="inputType" :id="type" @keyup="handleInput" :placeholder="type" @input="onInput" />
  </div>
</template>

<script>
export default {
  props: {
    'type': String
  }, 
  data() {
    return {
      'value': ''
    }
  },
  computed: {
    inputType() {
      return this.type.toLowerCase().includes('password')? 'password': 'text';
    }
  },
  methods: {
    onInput(e) {
      this.value = e.target.value;
    },
    handleInput() {
      this.$emit('inputEvent', {type: this.type, value: this.value});
    }
  }
}
</script>

<style module>
.input_wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  width: 40%;
}

input {
  width: 200px;
  text-indent: 4px;
}

input, label {
  height: 40px;
  line-height: 40px;
}
</style>