<template>
  <form>
    <fieldset>
      <legend class="sr-only">posting page</legend>
      <input-default type="name" @inputEvent="handleInput"></input-default>
      <input-default type="username" @inputEvent="handleInput"></input-default>
      <input-default type="email" @inputEvent="handleInput"></input-default>
      <input-default type="city" @inputEvent="handleInput"></input-default>
      <input-default type="phone" @inputEvent="handleInput"></input-default>
      <input-default type="website" @inputEvent="handleInput"></input-default>
      <buttons-wrapper>
        <button-default content="post" @clickEvent="submitPost"></button-default>
      </buttons-wrapper>
    </fieldset>
  </form>
</template>

<script>
import InputDefault from '@/common/input/InputDefault.vue';
import ButtonDefault from '@/common/button/ButtonDefault.vue';
import ButtonsWrapper from '@/common/button/ButtonsWrapper.vue';

export default {
  components: {
    InputDefault,
    ButtonDefault,
    ButtonsWrapper
  },
  data(){
    return {
      inputData: {
        id:'', name:'', username:'', email:'', city:'', phone:'', website:''
      },
    }
  },
  methods: {
    handleInput({type, value}) {
      this.inputData[type] = value;
    },
    submitPost() {
      try {
        this.$store.commit('postOneContact', this.inputData);
        this.$router.push('/');
      } catch(err) {
        console.error(err);
      }
    }
  }
}
</script>

<style module>
form > fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}
</style>