<template>
  <ol :class="$style.board_list">
    <li v-for="data in this.contacts" :key="data.no">
      <router-link :to="`/detail/${data.id}`">
        <ul :class="$style.board_item">
          <li v-for="(item, idx) in data" :key="idx" class="ellipsis">{{ item }}</li>
        </ul>
      </router-link>
    </li>
  </ol>
</template>

<script>
import { mapState } from 'vuex';

export default {
  computed: {
    ...mapState(['contacts']),
    mockData() {
      return this.$store.getters.createMockData;
    }
  }
}
</script>

<style module>
.board_list {
  display: flex;
  flex-direction: column;

  padding: 10px;
}
.board_item {
  display: flex;
  gap: 30px;

  height: 40px;
  line-height: 40px;
  border-top: 1px solid rgba(255, 165, 80, 0.795);
}

.board_list > li:last-of-type ul {
  border-bottom: 1px solid rgba(255, 165, 80, 0.795);
}
.board_item li {
  text-align: left;
  width: 250px;
}
.board_item li:first-of-type {
  width: 50px;
}
</style>