<template>
  <fragment>
    <h2>{{ this.getContact.name }}</h2>
    <article :class="$style.detail_item">
      <div v-for="(data, name) in this.getContact" :key="data + name"><strong>{{ name }}:</strong> {{ data }}</div>
    </article>
  </fragment>
</template>

<script>
  import { mapGetters } from 'vuex';
export default {

  props: ['info'],
  data(){
    return {
      id: +this.$route.params.id,
    }
  },
  computed: {
    ...mapGetters(['getContact']),
  }
}
</script>

<style module>
h2 {
  padding: 16px 0;
  text-align: center;
}
.detail_item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
</style>