<template>
  <div :class="$style.buttons_wrapper">
    <button-default mode="light_mode" content="back" @clickEvent="handleBack"></button-default>
    <slot />
  </div>
</template>

<script>
import ButtonDefault from '../button/ButtonDefault.vue';
export default {
  components: { ButtonDefault },
  methods: {
    handleBack() {
      this.$router.back(-1);
    },
  }
}
</script>

<style module>
.buttons_wrapper {
  display: flex;
  gap: 16px;
}

</style>