<template>
  <div :class="$style.button_wrapper">
    <button type="button" :class="$style[mode]" @click="handleClick">{{ content }}</button>
  </div>
</template>

<script>
export default {
  props: {
    'mode': {
      default: 'dark_mode'
    },
    'content': {
      default: ''
    }
  },
  methods: {
    handleClick() {
      this.$emit('clickEvent');
    }
  }
}
</script>

<style module>
button {
  height: 50px;
  padding: 10px 15px;
  border-radius: 7px;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
}
.light_mode {
  border: 2px solid rgb(243, 153, 36);
  background-color: #fff;
}

.dark_mode {
  background-color: rgb(243, 153, 36);
  color: #fff;
  
}
</style>