<template>
  <div :class="$style.detail_page">
    <board-detail-view></board-detail-view>
    <buttons-wrapper>
      <button-default v-show="hasLog" :content="buttonContent" @clickEvent="handleClick"></button-default>
    </buttons-wrapper>
  </div>
</template>

<script>
import BoardDetailView from '@/components/board/BoardDetailView.vue';
import ButtonDefault from '@/common/button/ButtonDefault.vue';
import ButtonsWrapper from '@/common/button/ButtonsWrapper.vue';
import { mapActions, mapGetters } from 'vuex';

export default {
  components: { BoardDetailView, ButtonDefault, ButtonsWrapper },
  data() {
    return {
      id: +this.$route.params.id,
      buttonContent: 'delete'
    }
  },
  computed: {
    ...mapGetters(['getContacts']),
    hasLog() {
      return localStorage.getItem('hasLog');
    },
  },
  methods: {
    ...mapActions(['getOneContact']),
    handleClick() {
      const isDelete = confirm('삭제하시겠습니까?');
      
      if(isDelete) {
        try {
          this.$store.commit('deleteOneContact', this.id);
          alert('삭제되었습니다!');
          this.$router.back(-1);
        } catch(err) {
          console.error(err);
        }
      }
    }
  },
  created(){
    this.getOneContact(this.id);
  }
}
</script>

<style module>
.detail_page {
  width: 90%;
  min-width: 500px;
  min-height: 700px; 
  margin: 30px auto 0;
  border: 1px solid black;
  padding: 15px;
}
</style>