<template>
  <fragment>
    <div v-show="hasLog" :class="$style.button_wrapper">
      <button-default :content="buttonContent" @clickEvent="handleClick"></button-default>
    </div>
    <BoardView></BoardView>
  </fragment>
</template>

<script>
import BoardView from '@/components/board/BoardView.vue';
import ButtonDefault from '@/common/button/ButtonDefault.vue';
import { Fragment } from 'vue-fragment';

export default {
  components: {
    BoardView,
    ButtonDefault,
    Fragment
},
  data() {
    return {
      buttonContent: 'posting',
    }
  },
  computed: {
    hasLog() {
      return localStorage.getItem('hasLog');
    }
  },
  methods: {
    handleClick() {
      this.$router.push('/post');
    }
  }
}
</script>

<style module>
.button_wrapper {
  padding: 10px;
  text-align: right;
}
</style>