<template>
  <div style="width: 500px; margin: 0 auto">
    <h2>border example</h2>
    <A>
      <C></C>
      <B>
        <B>
          <C></C>
        </B>
      </B>
    </A>
  </div>
</template>

<script>
import A from './css-modules/cssAScoped.vue';
import B from './css-modules/cssDefault2.vue';
import C from './css-modules/cssDefault3.vue';

export default {
  components: {
    A,
    B,
    C
  }
}
</script>

<style>
h2 {
  line-height: 50px;
  text-align: center;
}

</style>