<template>
  <SignupFormContent></SignupFormContent>
</template>

<script>
import SignupFormContent from '../components/form/SignupFormContent.vue';

export default {
  components: {
    SignupFormContent,
  }
}
</script>

<style>
</style>