<template>
  <SigninFormContent></SigninFormContent>
</template>

<script>
import SigninFormContent from '../components/form/SigninFormContent.vue';

export default {
  components: {
    SigninFormContent,
  }
}
</script>

<style>
</style>