<template>
  <fragment>
    <header v-if="this.isValid">
      <div></div>
      <h1>
        {{ this.title }} page
      </h1>
      <nav v-if="this.hasLog">
        <router-link to="/">home</router-link>
        <router-link to="/mypage">mypage</router-link>
        <a href="/" @click="handleClick">logout</a>
      </nav>
      <nav v-else>
        <router-link to="/">home</router-link>
        <router-link to="/signin">signin</router-link>
        <router-link to="/signup">signup</router-link>
      </nav>
    </header>
    <header v-else>
      <router-link to="/">main page로 돌아가기</router-link>
    </header>
  </fragment>
</template>

<script>
export default {
  props: ['title'],
  data() {
    return {
      hasLog: false
    }
  },
  computed: {
    isValid() {
      return this.title !=='404';
    }
  },
  watch: {
    title() {
      this.getLog();
    }
  },
  methods: {
    getLog() {
      // 현재 로그인 되어있는지 가져오기
      this.hasLog = localStorage.getItem('hasLog');
    },
    handleClick() {
      const logout = confirm('로그아웃을 하시겠습니까?');
      if(logout) localStorage.removeItem('hasLog');
    }
  },
  created() {
    this.getLog();
  }
}
</script>

<style scoped>
header {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

header > * {
  width: 200px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: center;
  gap: 16px;
}
</style>