<template>
  <div id="app">
    <layout-default>
      <router-view />
    </layout-default>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import LayoutDefault from './layouts/LayoutDefault.vue'
export default {
  components: { LayoutDefault },
  methods: {
    ...mapActions(['getAxiosContacts'])
  },
  created() {
    this.getAxiosContacts()
  }
}
</script>
