@import url(https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css);

*,
body,
*::after,
*::before {
  box-sizing: border-box !important;
  font-family: 'NanumSquareRound', 'nanum';
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1, h2, h3, button {
  margin: 0;
  padding: 0;
  border: none;
}

ul, ol, li {
  list-style: none;
}

input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
  outline: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.sr-only {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  display: none !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}