<template>
  <fragment>
    <app-header :title="title"></app-header>
    <main>
      <slot />
    </main>
  </fragment>
</template>

<script>
import AppHeader from '@/components/AppHeader.vue';

export default {
  components: { AppHeader },
  name: 'LayoutDefault',
  computed: {
    title() {
      return this.$route.name
    },
  }
}
</script>

<style>

</style>